@media (min-width: 1024px) {
  div.content {
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, 32%);
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-1 item-4 item-5"
      "item-6 item-7 item-7";
    gap: 2%;
    width: 70dvw;
    height: 90dvh;
  }
  footer {
    display: none;
  }
  div.item-textual {
    gap: 1dvh;
  }
  div.item-textual h1 {
    font-size: 2dvw;
  }
  div.item-textual h2 {
    font-size: 1.5dvw;
  }
  div.item-textual p {
    font-size: 1dvw;
  }
  div.item-textual button {
    width: 12dvw;
    height: 5dvh;
  }
  div.item-textual:not(div.item-center) {
    padding: 0.25dvw 1dvw 1dvw 1dvw;
  }
  div.item-center {
    box-shadow: inset 0 0 0 var(--dbr) var(--jp);
  }
  button:hover {
    box-shadow: inset 0 0 0 var(--dbr) white;
    background-color: var(--jp);
    color: white;
  }
  del {
    text-decoration-thickness: 0.15dvw;
  }
}
